* {
    margin: 0px;
    padding: 0px;

}

body {

    background: RGBA(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    border-color: RGBA(0, 0, 0, 0);
    border: 1px solid RGBA(0, 0, 0, 0);
}

.left {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    text-transform: capitalize;
}

.right {
    gap: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 70px 400px;
}

.order {
    background: #FFBC0D;
    border: none;
    width: 200px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-top: 0.5rem;
    text-transform: capitalize;
}


.bottom {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    gap: 2rem;
    position:absolute;
    
}
.img img{
    margin: auto;
    margin-left: 21%;
    width:58%;
    height: max-content;
}
.info{
    position: relative;
}
.social
{
    position: absolute;
    display: flex;
    gap: 1rem;
    margin-top: 5%;
    margin-left: 15%;
    
}
h3{
    margin-top: 100px;
    padding-top: 5%;
}